@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    background: linear-gradient(to right, #2c3e50, #3498db);
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: black ;

}

#display{
    text-align: right;
    height: 150px;
    line-height: 150px;
    padding: 16px 8px;
    font-size: 48px;
    background-color: #000000;
    color: white;
}
.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: black;
    margin: 3px;
}
#top{
    background-color: #F2AF29;
}
#top:hover{
    background-color: #d49923
}
#red{
    background-color: #AD343E;
}
#red:hover{
    background-color: #962d36;
}
.button{
    background-color: #FFFCFF;
    border: 1px solid;
    margin: 3px;
    border-radius: 20%;
    line-height: 100px;
    text-align: center;
    font-size: 40px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.button:hover{
    background-color: #d0d0d0;
}
#equal{
    background-color: #247BA0;
}
#equal:hover {
    background-color: #217295;
}